*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal',Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  scroll-behavior: smooth;
  word-break: break-word;
}

:root{
  --main-color : #0072ff;
  --bg-color : #F5F5F5;
  --bg-footer : #010e2e;
  --border-color : #EEEEEE;
  --light-color : #fff;
  --text-color : #2c2c2c;
  --header-color : #15151A;
  
  --post-title-color : #15161A;
  --section-title-color : #010718;

  /* Start title sizes */
  --title-primary : 20px;
  --title-secondry : 18px;
  --title-thirth : 15px;
}

html {
  direction: rtl;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body{
  height: 100vh;
  background-color: var(--bg-color);
}

body.dark{
  --bg-color: #18191A;
  --light-color : #242526;
  --bg-footer : #010e2e;
  --post-title-color : #fff;
  --section-title-color : #fff;
  --header-color : #f6f7f8;
  --text-color: #CCC;
  --border-color : #383b3d;

  background-color: var(--bg-color);
}


/* Start General */
p,h1,h2,h3,h4,h5,h6,ul,li,ol{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  color: var(--post-title-color);
  text-decoration: none;
}
a:hover{
  color: var(--main-color);
}
img{
  width: 100%;
  height: 100%;
}

/* End General */


/* Start edit header */
header{
  background-color: var(--bg-footer);
  position: relative;
  transition: all .15s ease;
}
header .top-header{
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-footer);
  height: 40px;
  display: flex;
  align-items: center;
}
header .top-header .top-header-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top-header .header-media-items{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
header .top-header .header-media-items .social-media{
  padding: 5px;
}
header .top-header .header-media-items .social-media i{
  font-size: 13px;
}
.top-header-pages {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-header-pages a{
  font-size: 13px;
}


/* Start custom header */

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--light-color);
  z-index: 100;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
}

.main-header .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1190px;
  width: 100%;
  background-color: var(--light-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .nav-bar .sidebarOpen{
  color: var(--section-title-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.main-header .nav-bar .navLogo{
  width: 150px;
  height: 50px;
}
.main-header .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color: var(--header-color);
}

.main-menu .header-nav-mobile{
  display: none;
}

.nav-bar .menu-links{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.menu-links .main-link{
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: var(--header-color);
  padding: 25px 10px;
}
.menu-links .main-link:hover{
  color: var(--main-color);
  background-color: var(--border-color);
}


.sub-mega1-links,
.sub-mega2-links{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  position: absolute;
  top: 100%;
  max-height: 500px;
  overflow: auto;
  background: var(--bg-color);
  box-shadow: 0 2px 7px 5px rgba(0,0,0,.1);
  transition: .3s ease-in-out;
  z-index: 999999;
}
.nav-bar .menu-links .menu-link .item-data .more-data{
  gap: 5px;
  padding:5px;
}
.nav-bar .menu-links .menu-link .sub-mega1-links .item-data .image-data{
  padding: 0;
  margin: 5px 0;
}

.nav-bar .menu-links .menu-link:hover .sub-mega1-links,
.nav-bar .menu-links .menu-link:hover .sub-mega2-links{
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.nav-bar .menu-links .menu-link .sub-mega1-links .item-data,
.nav-bar .menu-links .menu-link .sub-mega2-links .item-data
{
  background: var(--light-color);
}

.sub-mega1-links .item-data .d-title a,
.sub-mega2-links .item-data .d-title a{
  padding: 0;
  font-size: 13px;
}

/* Sub Mega1 */
.nav-bar .menu-links .menu-link .sub-mega1-links{
  width: 100%;
  right: 0;
  padding: 5px 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

/* Sub Mega2 */
.nav-bar .menu-links .menu-link .sub-mega2-links{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  width: 400px;
}

.sub-mega2-links .sub-mega2-link:not(:last-child){
  border-bottom: 1px solid var(--border-color);
}
.sub-mega2-links .item-data{
  display: flex;
  gap: 5px;
}
.sub-mega2-link .item-data .image-data{
  width: 110px;
  padding: 0;
}

.nav-bar .darkLight-searchBox{
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i{
  position: absolute;
  color: var(--header-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun{
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon{
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.searchBox .search-field{
  position: absolute;
  bottom: -85px;
  right: 0;
  top: 102%;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  background: var(--bg-color);
}

body.dark .search-field input{
  color: var(--text-color);
}

.search-field i{
  position: absolute;
  color: var(--bg-footer);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i{
  color: var(--header-color);
}

/* End custom header */

/* Start edit content */
.container-wrrapper{
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0 10px;
}

.container-wrrapper .widget{
  background-color: var(--light-color);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}

.container-wrrapper .widget .section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid var(--border-color);
  color: var(--dark-color);
  margin-bottom: 10px;
}
.container-wrrapper .widget .section-header .section-title{
  position: relative;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: var(--title-primary);
  color: var(--section-title-color);
}
.container-wrrapper .widget .section-header .section-title::after{
  content: "";
  position: absolute;
  right: -10px;
  bottom: -1px;
  width: calc(100% + 15px);
  height: 2px;
  background-color: var(--main-color);
}
.container-wrrapper .widget .section-header .view-more {
  background: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.item-data .more-data{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.item-data .image-data{
  overflow: hidden;
  display: block;
  border-radius: 5px;
  position: relative;
}
.item-data .image-data:after{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  position: absolute;
  left: -100%;
  transition: .3s;
}
.item-data .image-data:hover:after{
  left: 0;
}

.item-data .image-data img{
  transition: .3s all;
}
.item-data .image-data img:hover{
  transform: scale(1.05);
}
.item-data .d-category{
  background: var(--main-color);
  width: fit-content;
  padding: 0px 5px;
  border-radius: 5px;
}
.item-data .d-category a{
  color: #fff;
  font-size: 14px;
}
.item-data .d-title a{
  display: block;
  font-weight: 700;
}
.item-data .d-desc{
  color: var(--text-color);
  font-size: 13px;
}
.item-data .d-author{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.item-data .d-author a,
.item-data .d-author span
{
  font-size: 13px;
  color: var(--section-title-color);
}
.item-data .d-author i{
  color: var(--main-color);
  font-size: 12px;
}


.type-block2-items .item-data:not(:first-of-type) .more-data .d-desc,
.type-block2-items .item-data:not(:first-of-type) .more-data .d-category,
.type-block4-items .item-data:not(:first-of-type) .more-data .d-desc,
.type-block4-items .item-data:not(:first-of-type) .more-data .d-category,
.type-block5-items .item-data:not(:first-of-type) .more-data .d-desc,
.type-block5-items .item-data:not(:first-of-type) .more-data .d-category,
.type-block7-items .item-data:not(:first-of-type) .more-data .d-desc,
.type-block7-items .item-data:not(:first-of-type) .more-data .d-category
{
  display: none;
}

.type-block5 .type-block5-items .item-data:first-child .d-desc,
.type-block5 .type-block5-items .item-data:first-child .d-author a,
.type-block5 .type-block5-items .item-data:first-child .d-author span,
.type-block6 .type-block6-items .item-data:first-child .d-desc,
.type-block6 .type-block6-items .item-data:first-child .d-author a,
.type-block6 .type-block6-items .item-data:first-child .d-author span
{
  color: #efefef;
}
.type-block5-items .item-data:first-child .more-data .d-title a,
.type-block6-items .item-data:first-child .more-data .d-title a
{
  color: #fff;
  font-size: var(--title-primary);
}

/* Start edit block1 */
.type-block1-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap: 20px;
}
.type-block1 .item-data{
  display: flex;
  gap: 10px;
  padding: 10px;
}
.type-block1 .item-data .d-title a{
  font-size: var(--title-secondry);
}
.type-block1 .item-data .image-data {
  width: 150px;
  height: 130px;
}

/* Start edit block2 */
.type-block2{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  gap: 5px;
}
.type-block2-items .item-data:first-child{
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  padding: 10px 0;
}
.type-block2-items .item-data:first-child .image-data{
  margin-bottom: 10px;
}
.type-block2-items .item-data:first-child .d-title a{
  font-size: var(--title-secondry);
}
.type-block2-items .item-data:not(:first-of-type){
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.type-block2-items .item-data:not(:last-of-type){
  border-bottom: 1px solid var(--border-color);
}
.type-block2-items .item-data:not(:first-of-type) .image-data{
  width: 110px;
  height: 70px;
}
.type-block2-items .item-data:not(:first-of-type) .d-title a{
  font-size: var(--title-thirth);
}

/* Start edit block3 */
.type-block3-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 10px;
  row-gap: 20px;
}
.type-block3-items .item-data .d-title a{
  font-size: var(--title-thirth);
}
.type-block3-items .item-data .image-data{
  margin-bottom: 10px;
}

/* Start edit block4 && block7 */
.type-block4-items,
.type-block7-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  direction: rtl;
  gap: 10px;
}
.type-block4-items .item-data:first-child,
.type-block7-items .item-data:first-child{
  grid-row: span 4;
}
.type-block4-items .item-data:first-child .d-title a,
.type-block7-items .item-data:first-child .d-title a{
  font-size: var(--title-secondry);
}
.type-block4-items .item-data:first-child .d-category,
.type-block7-items .item-data:first-child .d-category{
  margin-top: 10px;
}
.type-block4-items .item-data:not(:first-child),
.type-block7-items .item-data:not(:first-child){
  display: flex;
  gap: 10px;
}
.type-block4-items .item-data:not(:first-child) .image-data,
.type-block7-items .item-data:not(:first-child) .image-data{
  width: 110px;
  height: 70px;
}
.type-block4-items .item-data:not(:first-child) .d-title a,
.type-block7-items .item-data:not(:first-child) .d-title a{
  font-size: var(--title-thirth);
}


/* Start edit block5 */
.type-block5 .type-block5-items:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
.type-block5 .type-block5-items .item-data:first-child{
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  position: relative;
  grid-column: span 2;
}
.type-block5 .type-block5-items .item-data:first-child .image-data{
  height: 350px;
}
.type-block5 .type-block5-items .item-data:first-child .more-data{
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 20px 15px;
  width: 100%;
  background:linear-gradient(to bottom,rgba(0,0,0,0) 10%,#000);
}
.type-block5 .type-block5-items .item-data:not(:first-of-type){
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.type-block5 .type-block5-items .item-data:not(:first-of-type) .d-title a{
  font-size: var(--title-thirth);
}
.type-block5 .type-block5-items .item-data:not(:first-of-type) .image-data{
  width: 110px;
  height: 70px;
}

/* Start edit block6 */
.type-block6-items .item-data:first-child{
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.type-block6-items .item-data:first-child .image-data{
  height: 350px;
}
.type-block6-items .item-data:first-child .more-data{
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 20px 15px;
  width: 100%;
  background:linear-gradient(to bottom,rgba(0,0,0,0) 10%,#000);
}
.type-block6-items .item-data:not(:first-child){
  display: flex;
  gap: 10px;
  padding: 15px 0;
}
.type-block6-items .item-data:not(:last-of-type){
  border-bottom: 1px solid var(--border-color);
}
.type-block6-items .item-data:not(:first-child) .d-title a{
  font-size: var(--title-secondry);
}
.type-block6-items .item-data:not(:first-child) .image-data{
  width: 250px;
  height: 150px;
}

/* Start edit block8 */
.type-block8-items .item-data:first-child{
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
  padding: 10px 0;
}
.type-block8-items .item-data:first-child .d-title a{
  font-size: var(--title-secondry);
}
.type-block8-items .item-data:first-child .image-data{
  margin-bottom: 10px;
}
.type-block8-items .item-data:not(:first-of-type){
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
.type-block8-items .item-data:not(:last-of-type){
  border-bottom: 1px solid var(--border-color);
}
.type-block8-items .item-data:not(:first-of-type) .image-data{
  width: 110px;
  height: 70px;
}
.type-block8-items .item-data:not(:first-of-type) .d-title a{
  font-size: 14px;
}

/* Start edit block9 */
.type-block9-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 10px;
  row-gap: 20px;
}
.type-block9-items .item-data .d-title a{
  font-size: 14px;
}
.type-block9-items .item-data .image-data{
  margin-bottom: 10px;
}

/* Start edit latest section */
.main-content{
  background-color: var(--bg-color);
}
.main-content .container-fluid{
  padding: 0 !important;
}
.latest-news .item-data{
  display: flex;
  gap: 10px;
  padding: 15px 0;
}
.latest-news .item-data .image-data{
  width: 350px;
  height: 200px;
}
.latest-news .item-data .more-data{
  flex: 1;
}
.latest-news .item-data:not(:last-of-type){
  border-bottom: 1px solid var(--border-color);
}
.latest-news .item-data .d-title a{
  font-size: var(--title-primary);
}


/* Start edit sidebar social media */
.social-media-items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  gap: 10px;
}
.social-media {
  padding: 5px 10px;
  border-radius: 5px;
}
.social-media .social-brand{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-media.facebook{
  background-color: #3b5998;
}
.social-media.twitter{
  background-color: #1da1f2;
}
.social-media.instagram{
  background-color: #c32aa3;
}
.social-media.pinterest{
  background-color: #bd081c;
}
.social-media.linkedin{
  background-color: #0a66c2;
}
.social-media.youtube{
  background-color: #ff0000;
}
.social-media.tiktok{
  background-color: #010101;
}
.social-media.telegram{
  background-color: #179cde;
}
.social-media.tumblr{
  background-color: #35465d;
}
.social-media.reddit{
  background-color: #ff4500;
}


/* Start edit tags section */
.tags-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.tags-items .tag {
  width: fit-content;
  background: var(--main-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tags-items .tag span{
  font-size: 14px;
}


@media (max-width: 790px) {
  .main-header .nav-bar .sidebarOpen{
    display: block;
  }

  .main-menu{
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    background-color: var(--bg-color);
    z-index: 100;
    transition: all 0.4s ease;
  }

  .main-header.active .main-menu{
    right: -0%;
  }

  .main-header.active .nav-bar .navLogo a{
    opacity: 0;
    transition: all 0.3s ease;
  }

  .main-menu .header-nav-mobile{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  }

  .header-nav-mobile .siderbarClose{
    color: var(--header-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .menu-links{
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 0;
    height: 80%;
    overflow: auto;
  }

  .menu-links li{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
  .menu-links .main-link{
    display: block;    
    padding: 10px;
    background: var(--light-color);
  }
}

@media (max-width: 680px)
{
  .latest-news .item-data{
    flex-direction: column;
    justify-content: flex-start;
  }
  .latest-news .item-data .image-data{
    width: 100%;
  }
}

@media (max-width: 667px)
{

  .type-block5 .type-block5-items .item-data:not(:first-of-type),
  .type-block6-items .item-data:not(:first-child){
    flex-direction: column;
    justify-content: flex-start;
  }
  .type-block5 .type-block5-items .item-data:not(:first-of-type) .image-data,
  .type-block6-items .item-data:not(:first-child) .image-data{
    width: 100%;
  }

}

@media (max-width: 467px)
{
  .type-block1-items,.type-block4-items,.type-block7-items{
    grid-template-columns: repeat(auto-fill,minmax(210px,1fr));
  }
  .type-block1 .item-data{
    flex-direction: column;
    align-items: flex-start;
  }
  .type-block1 .item-data .image-data{
    width: 100%;
  }
}

@media (max-width: 367px)
{
  .type-block2{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }
  .item-data{
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .item-data .image-data{
    width: 100% !important;
  }
}

@media (max-width: 291px)
{
  .type-block3-items,.type-block2,.type-block1-items,.type-block4-items,.type-block7-items{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  }
}


/* Preloader Animation In Blogger */